<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Delete Item</title>
	<link rel="stylesheet" type="text/css" href="/../static/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
	<link rel="stylesheet" media="(max-width: 775px)" href="/../static/css/lessThan775.css">
	<link rel="stylesheet" media="(max-width: 640px)" href="/../static/css/lessThan640.css">
	<link rel="stylesheet" media="(max-width: 525px)" href="/../static/css/lessThan525.css">
	<link rel="stylesheet" media="(max-width: 515px)" href="/../static/css/lessThan515.css">
	<link rel="stylesheet" media="(max-width: 372px)" href="/../static/css/lessThan372.css">
	<script type="text/javascript" src="/../static/js/mq.genie.js"></script>
</head>
<body>
	<header class='header'>
		<div class="header-title">
			<h1><a class='home-page' href='{{url_for('showCategories')}}'>Catalog of Items</a></h1>
		</div>
		
		<div class='log-button'>
			<a class='button' href='{{url_for('gdisconnect')}}'>Logout</a>
		</div>
	</header>
	
	<main class='content-description'>
		<section>
			<h1 class='title item-title'>Delete Item</h1>
		</section>
		
		<form action='{{url_for('deleteItem', item_name = item_name)}}' method='post' class='form'>
			<p class='link margin-cancel'>Are you sure you want to delete {{item_name}}?</p>
			<input type='submit' value='Delete' class='button delete-width'>
		</form>
	</main>

</body>
</html>
